# --- Proyecto Embedded Practice ---

# Archivos binarios locales
mi_programa

# Archivos objeto
*.o

# --- Reglas generales para proyectos en C/C++ ---

# Binarios y ejecutables
*.exe
*.out
*.app

# Librerías
*.a
*.so
*.dylib

# Directorios de build
build/
dist/
*.dSYM/

# Archivos de IDE
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

